#banner
  .banner_content
    %h1 NoteNote
    %p Your online notebook.  Never forget an idea again
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The best notebook EVER"
    %p.name - Chris

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p lambic cask conditioned ale lagering trappist saccharification carboy. infusion, " carbonation hand pump bottom fermenting yeast noble hops amber, aau ipa." craft beer autolysis brewhouse malt.
      .callout
        %i.fa.fa-rocket
        %h2 Rocket
        %p lambic cask conditioned ale lagering trappist saccharification carboy. infusion, " carbonation hand pump bottom fermenting yeast noble hops amber, aau ipa." craft beer autolysis brewhouse malt.
      .callout
        %i.fa.fa-bolt
        %h2 Lightning
        %p lambic cask conditioned ale lagering trappist saccharification carboy. infusion, " carbonation hand pump bottom fermenting yeast noble hops amber, aau ipa." craft beer autolysis brewhouse malt.
#bottom_cta
  .wrapper
    %h2 For Realz
    %p I want you to sign up....puhlease!!!
    %button= link_to "Click Me.  NOW!", new_user_registration_path

%footer
  %p &copy; NAVCASTS